h1 {
	font-family: comic sans ms;
	color: 2b2c4d;
}
h3 {
	margin: 0px 0px 0px 0px;
	color: 2b2c4d;
	/*background-color: e8e8e8;*/
}
h2 { color: 2b2c4d; }
a { color: #0000FF; }
a:hover { color: #000088; }
a:active { opacity: 0.5; }

li { margin: .2em 0 .2em 0; }
li.p { margin: .5em 0 .7em 0; }
li.c { margin: .1em 0 .1em 0; }

div { margin: 0 8 0 8; }

html {
	display: table;
	margin: auto;
}

body {
	align: center;
	background-color: aeb9bd;
	margin:16;
	padding: 16;
}

#content {
	padding: 10px 25px 25px 25px;
	background-color: ffffff;
	border: 1px solid;
	border-radius: 8px;
}

table {
	width: 100%;
}
tr.y>td {
	padding-top: 8px;
}
td:first-child {
	font-weight: bold;
	font-size: 110%;
}
td:nth-child(2) {
	font-weight: bold;
	padding-right: 10px;
}
